/* GLOBAL STYLES */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat" "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.site-header {
  padding-top: 70px;
  padding-bottom: 60px;
}

.site-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  line-height: normal;
  font-weight: bold;
  color:rgba(110, 114, 142, 1);
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  margin-right: 24px;
  margin-left: 24px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 700;
  color: rgba(110, 114, 142, 1);
}

.button {
  display: inline-block;
  width: 56px;
  height: 32px;
  border-radius: 16px;
  border: none;
  background-color: rgba(105, 110, 221, 1);
}